In [1]:
import pandas as pd
import numpy as np

In [21]:
## reading the csv file
d1=pd.read_csv('ex1.csv',header=None)

In [19]:
d1

   0   1   2   3        4
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

In [2]:
pwd

'C:\\Users\\user\\Downloads\\pandas'

In [67]:
## passing the absolute path
d2=pd.read_csv(r"D:\\ddrive\\Machine learning masters\\Pandas\\examples\\ex1.csv")

In [66]:
d2

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [2]:
## reading tab separated 
d3=pd.read_table('test.tsv')

In [3]:
d3

            test     test   test.1   test.2   test.3
Data        Data     Data     Data     Data     Data
Science  Science  Science  Science  Science  Science

In [16]:
## reading tab separated file with csv 
d4=pd.read_csv('test.tsv',sep='\t')

In [8]:
d4

            test     test   test.1   test.2   test.3
Data        Data     Data     Data     Data     Data
Science  Science  Science  Science  Science  Science

In [13]:
d5=pd.read_csv('ex7.csv',sep='*',header=None)

In [14]:
d5

   0  1  2
0  a  b  c
1  1  2  3
2  1  2  3

In [20]:
type(d5)

pandas.core.frame.DataFrame

In [27]:
d1.head(1) ## first five rows from the dataframe

   0  1  2  3        4
0  a  b  c  d  message

In [26]:
d1.tail(2) ## last 5 rows of the dataframe.

   0   1   2   3      4
2  5   6   7   8  world
3  9  10  11  12    foo

In [62]:
## reading row inside row
d6=pd.read_csv('csv_mindex.csv')

AttributeError: module 'pandas' has no attribute 'readcsv'

In [29]:
d6

  key1 key2  value1  value2
0  one    a       1       2
1  one    b       3       4
2  one    c       5       6
3  one    d       7       8
4  two    a       9      10
5  two    b      11      12
6  two    c      13      14
7  two    d      15      16

In [31]:
d6=pd.read_csv('csv_mindex.csv',index_col=['key1','key2'])

In [32]:
d6

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [61]:
d7=pd.read_csv('ex4.csv')
d7

                                                                      # hey!
a                                                  b        c   d    message
# just wanted to make things more difficult for... NaN      NaN NaN      NaN
# who reads CSV files with computers                anyway? NaN NaN      NaN
1                                                  2        3   4      hello
5                                                  6        7   8      world
9                                                  10       11  12       foo

In [58]:
## Skipping the unwanted rows
d7=pd.read_csv('ex4.csv',skiprows=[0,1])

ParserError: Error tokenizing data. C error: Expected 2 fields in line 5, saw 5

In [57]:
d7

,a,b,c,d,message
0,# just wanted to make things more difficult fo...,NaN,NaN,NaN,NaN
1,# who reads CSV files with computers,anyway?,NaN,NaN,NaN
2,1,2,3.0,4.0,hello
3,5,6,7.0,8.0,world
4,9,10,11.0,12.0,foo

In [37]:
## Checking null or NAN or na-->considered as missing values in ML

d8=pd.read_csv('ex5.csv')

In [39]:
d8.isnull()

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [40]:
## getting the total number of null present in particular column
d8.isnull().sum()

something    0
a            0
b            0
c            1
d            0
message      1
dtype: int64

In [47]:
d9=pd.read_csv('ex5.csv',na_values=['one','foo'])

In [48]:
d9

  something  a   b     c   d message
0       NaN  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [49]:
## Reading the excel file
d10=pd.read_excel('ex1.xlsx')

In [50]:
d10

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [51]:
d11=pd.read_excel('ex1.xlsx',sheet_name='XYA')

In [52]:
d11

   1  2  3  3.1
0  4  5  6    9
1  7  8  5    2

In [68]:
pwd

'C:\\Users\\user\\Downloads\\pandas'