## Agenda
* Anaconda Installation & Jupyter nb launch
* Jupyter nb with its menu and toolbar
* Intro to Python
* Python Basics-variables,print
* Data Types
* Typecasting
* input, format options
* slicing
* Operators
* other functions

Short cut keys
A->Insert cell above 
B->Insert cell below 
DD -> Delete a cell
z -> undo
m -> markdown
R -> raw
y -> code
ctrl+Enter -> Run a current cell
shft+Enter -> Run & goes to next cell

#### Python Basics
* Comment-> single,multi-line
* identifiers,variable
* print

In [ ]:
# Area of Triangle
print("This is my first line of code") # '' ""

In [ ]:
'''This is a mutli  line 
comment for your reference'''
print('My name is John')

In [ ]:
'''This
is
a 
multi-line 
comment'''
print('This is for explaining multi-line comment')

In [ ]:
""" This is 
to explain
multi-line comment
with double quotes"""
print("Good Evening to all")

In [ ]:
# Identifiers-> names given to a variable name, func name, any naming variable
# Rules-> alphabets/nos/_, no special char allowed
#variables-> the value can be assigned and it can also be changed
x = 10 # x is a variable(variable should follow the rules of identifier,var name is a identifier)
x

In [ ]:
num1 = 20
num1

In [ ]:
num_2 = 30
num_2

### DataTypes
* bool 
* int
* float
* str

In [ ]:
# bool-True/False
x = True
x

In [ ]:
type(x) # datatype of the variable

In [ ]:
y = False
y

In [ ]:
type(y)

In [ ]:
# integer-> whole nos- +ve,-ve,0
num = 67
print(type(num))
num

In [ ]:
num1 = -45
type(num1)

In [ ]:
# assign 0 to a variable num2 and print the datatype of num2
num2 = 0
type(num2)

In [ ]:
# float-> decimal values
xy = 58.987
type(xy)

In [ ]:
# assign 98.56 to a variable num3 and print the datatype of num3
num3 = 98.56
type(num3)

In [ ]:
# str-> collection of alphabets enclosed within quotes(''/"")
name = "Deepa"
name

In [ ]:
type(name)

In [ ]:
role = 'Data Scientist2*+-'
role

In [ ]:
type(role)

## Typecasting
* Hierarchy->bool->int->float->str
* Auto
* Forced

In [2]:
# Auto Typecasting
exp = 5 + False + 6.78 + True + 7 + 98.34   # 5.0 + 0.0 + 6.78 + 1.0 +7.0 + 98.34
exp

118.12

In [ ]:
exp1 = 5 + False + True + 7  # 5 + 0 + 1 + 7
exp1

In [1]:
type(exp1)

NameError: name 'exp1' is not defined

In [3]:
a = 5 + False + True + 7 + 1.2
print(a)
type(a)

14.2

float

In [ ]:
# Forced Typecasting
exp2 = int(5.43)
exp2

In [ ]:
type(exp2)

In [ ]:
# convert 45 into float datatype and type its datatype
ex = float(45)
ex

In [ ]:
type(ex)

In [3]:
# convert 56 into str 
s = str(56)
s

'56'

In [4]:
# convert hi into int 
x = int('hi')
x

ValueError: invalid literal for int() with base 10: 'hi'

In [ ]:
int('5')

In [ ]:
float('3.54')

In [ ]:
#convert True into float
float(True)

In [ ]:
int(True)

In [ ]:
float('True')

In [ ]:
# Solve
exp3 = 5 + int('14') + float(True) + 15.67 + False -True -53.2
exp3

In [ ]:
# input ->str
num = input("Enter a value")
num

In [ ]:
type(num)

In [ ]:
num = int(input("Enter a value"))
num

In [ ]:
type(num)

In [ ]:
num =float( input("Enter a value"))
num

In [5]:
x = str(eval('5+6'))
x

'11'

In [6]:
x = 'print(55)'
eval(x)

55

In [ ]:
num = 10
print("The value of a number =",num)

In [ ]:
# assign name = 'John' and print the text My name is John
name = 'John'
print('My name is ',name)

In [ ]:
# Format-{}->place holder
name = 'Deepa'
age = 33
print("My name is {} and my age is {}".format(name,age))

In [7]:
name = 'Deepa'
age = 33
print("My name is {1} and my age is {0} and my name is {1}".format(age,name))

My name is Deepa and my age is 33 and my name is Deepa

In [ ]:
num = 10
print("The value of a number is",num)

In [ ]:
name = 'Deepa'
age = 33 
role = 'Data Scientist'
print("My name is {} with role as {} and my age is {} ". format(name,role,age))

In [ ]:
print("My name is {0} with role as {2} and my age is {1} ". format(name,age,role))

### Slicing 
* 3 parameters[start:stop(E):step]

In [ ]:
st1 = "Welcome to Data Science Course"
len(st1)

In [ ]:
st1[0]

In [ ]:
st1[4]

In [ ]:
st1[3:7] # start,stop

In [ ]:
st1[11:15]

In [ ]:
st1[11:15:3]

In [ ]:
st1[16: :2]

In [ ]:
st1[::-1] # Reverse of the string

In [ ]:
st1[14:10:-1]

In [ ]:
# Other functions->upper,lower,split
st1

In [ ]:
st1.upper()

In [ ]:
st1.lower()

In [ ]:
st1.split()

In [ ]:
st1.split('c')

## Mathematical operators

In [ ]:
## + addition
## - subtraction
## /,//,% for division
## * mulltiplication
## ** power of

In [ ]:
## +
a=5
b=6
c=a+b

In [ ]:
## division
a=15
b=6
a/b ## when you want output to be float

In [ ]:
a//b ## when you want to get interger outputi.e it will ignore the decimal part

In [ ]:
a=15
b=2
a//b

In [ ]:
a%b ## when you want reminder

In [ ]:
a=2
b=5
a*b

In [ ]:
a**5 ## power of